<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">Sign in to continue</h1>
        <div class="account-wall">

            <form name="loginFrm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" required class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" required class="form-control" ng-model="user.password" id="exampleInputPassword1" placeholder="Password">
                </div>

                <button type="submit" ng-disabled="loginFrm.$invalid" ng-click="checkLogin(loginFrm)" class="btn btn-default">Login</button>
            </form>
        </div>

    </div>
</div>